main {
  display: flex;
}

.preVisualizacao {
  align-items: center;
  background-color: #023031;
  color: white;
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
  padding-top: 50px;
}

.todasCartas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.preVisualizacao h1 {
  margin-top: 53px;
}
